{% extends "base.html" %}

{% block content %}
    <nav class="navbar fixed-top navbar-light" style="background-color:#e3f2fd">
        <a class="navbar-brand">
            <img src="/static/img/icon1.png" width="32" height="32" class="d-inline-block align-top" alt="">
            <b>ProjectWEB SystemShop</b>
        </a>
        {% if current_user.is_authenticated %}
            {% if current_user.admins %}
                <div class="row" style="height: 50%">
                    <a href="/" class="col" style="width: 200px">
                        <button type="button" class="btn btn-outline-secondary" style="width: 100%"><b>Menu</b></button>
                    </a>
                    {% if show_cart %}
                        <a href="/get_cart" class="col" style="width: 200px">
                            <button type="button" class="btn btn-outline-secondary" style="width: 100%"><b>Cart</b></button>
                        </a>
                    {% endif %}
                    <a href="/client_log" class="col" style="width: 200px">
                        <button type="button" class="btn btn-outline-secondary" style="width: 100%"><b>Log clients</b></button>
                    </a>
                    <a href="/orders_log" class="col" style="width: 200px">
                        <button type="button" class="btn btn-outline-secondary" style="width: 100%"><b>Log orders</b></button>
                    </a>
                    <a href="/management_items" class="col" style="width: 200px">
                        <button type="button" class="btn btn-outline-secondary" style="width: 100%"><b>Manage items</b></button>
                    </a>
                    <a href="/categories" class="col" style="width: 300px">
                        <button type="button" class="btn btn-outline-secondary" style="width: 100%"><b>Manage categories</b></button>
                    </a>
                </div>
            {% elif current_user.clients %}
                <div class="row" style="height: 50%; margin-right: 40%">
                    <a href="/" class="col" style="width: 200px">
                        <button type="button" class="btn btn-outline-secondary" style="width: 100%"><b>Menu</b></button>
                    </a>
                    {% if show_cart %}
                        <a href="/get_cart" class="col" style="width: 200px">
                            <button type="button" class="btn btn-outline-secondary" style="width: 100%"><b>Cart</b></button>
                        </a>
                    {% endif %}
                    <a href="/log_customer_orders/{{ current_user.clients[0].id }}" class="col" style="width: 200px">
                        <button type="button" class="btn btn-outline-secondary" style="width: 100%"><b>My Orders</b></button>
                    </a>
                </div>
            {% endif %}
        {% else %}
            <a href="/" class="col">
                <button type="button" class="btn btn-outline-secondary"><b>Menu</b></button>
            </a>
        {% endif %}
        <div style="">
            {% if not current_user.is_authenticated %}
                <a class="navbar-brand" href="/login">
                    <button type="button" class="btn btn-outline-secondary"><b>Log in</b></button>
                </a>
                <a class="navbar-brand" href="/register">
                    <button type="button" class="btn btn-outline-secondary"><b>Register</b></button>
                </a>
            {% else %}
                <a class="navbar-brand" href="/privacy_settings">
                    <img src="/static/img/icons8-male-user-32.png" width="32" height="32" class="d-inline-block align-top"
                         alt="https://icons8.com/icon/7820/male-user">
                    <b>{{ current_user.login }}</b>
                </a>
                <a class="navbar-brand" href="/logout">
                    <button type="button" class="btn btn-outline-secondary"><b>Log out</b></button>
                </a>
            {% endif %}
        </div>
    </nav>
<main role="main" class="container">
    {% block content3 %}{% endblock %}
</main>
{% endblock %}
