{% extends "navbar_menu.html" %}

{% block content3 %}
<h1 style="margin-top: 10%;" align="center">{{category.title}}</h1>
{% if response %}
<table style="margin-top: 5%" align="center">
    {% for item in items %}
        <tr>
            <td style="width: 29%; margin: 10px"><img src={{item.img_path}} width="300" height="300" class="img-fluid img-thumbnail rounded float-left" alt=""></td>
            <td style="width: 71%">
                <table style="height: 800%" valign="top">
                    <thead>
                        <tr>
                            <th colspan="1" style="width: 85%" align="left">{{ item.title }}</th>
                            <th colspan="1" style="width: 60px; margin-right: 20px">{{ item.cost }}$</th>
                            <th colspan="1" style="width: 50px">
                                <a href="/add_to_the_cart/{{ item.id }}">
                                    <button type="button" class="btn btn-outline-secondary"><img src="/static/img/ShoppingCart.png" width="34" height="32" class="d-inline-block align-top" alt=""></button>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody valign="top">
                        <tr>
                            <td rowspan="10"><p>{{ item.description }}</p></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    {% endfor %}
</table>
{% else %}
    <div style="margin-top: 10%;"><h3>No items in this category</h3></div>
{% endif %}
{% endblock %}
